.pag {
    display: grid;
    height: 100%;
    width: 100%;

    grid-template-columns: 2fr 7fr;
    grid-template-rows: 2fr 19fr 1fr;
    /*fraccionees o porcentajes del espacio que ocupan las áreas*/

    grid-template-areas: "Head Head"
        "Ind Body"
        "Foot Foot";
    /*division de áreas*/

    gap: 10px;
    /*margen blanco */
    background-color: white;
}

.Head, .Ind, .Body, .Foot {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(53, 51, 51);
}

.Head {
    grid-area: Head;
    grid-area: A;
    font-size: 25px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background-color: rgba(249, 248, 246, 0.75);

    backdrop-filter: blur(12px);

    /* Un borde inferior casi invisible para darle estructura */
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    /* Para asegurarte de que quede por encima de todo */
    z-index: 1000;
}

.Ind {
    grid-area: Ind;
}

.Body {
    grid-area: Body;
}

.Foot {
    grid-area: Foot;
}